@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');



body {
  font-family: 'Audiowide', sans-serif;
  background-color: #3de155;
}

.gradient-text {
  /* background: linear-gradient(to right, #00f2ff, #3de155);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text; */
  color: white;
}

.text-primary {
  color: #d8d8d8;
}

.text-secondary {
  color: #e62c2c;
}

.text-tertiary {
  color: #ffffff;
}

.font-hero {
  font-family: 'Audiowide', sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  background: linear-gradient(to right, #6a11cb, #2575fc);
  padding: 4rem 0;
  color: white;
}

header h1 {
  font-size: 4rem;
}

header p {
  font-size: 1.5rem;
}

section {
  margin: 4rem 0;
}

section h2 {
  font-size: 3rem;
  margin-bottom: 3rem;
}

section p {
  font-size: 1.75rem;
  color: #333;
}

.glass-effect {
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.event-sections {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  margin-top: 2rem;
}


.event-card {
  width: 300px;
  background: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.glass-effect-2{
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}